<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Website Title</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

   <span class="navbar-brand" href="#">Hello  {{ user.username|capfirst|default:"Anonymous" }}</span>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/profile/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/new/">Create Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout/">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login/">Login</a>
                </li>
                {% endif %}
                <!-- Add more menu items as needed -->
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
